body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #0b0c10;
    color: #c5c6c7;
  }
  /* navigation for the portfolio  */
header nav{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0.5em 0;
  z-index: 1000;
  }
nav ul{
 list-style: none;
  display: flex;
  gap: 1.5em;
  padding: 0;
  margin: 0;
  }
nav il{
  display: inline-block;
} 
.logo{
  display: flex;
  align-items: center;
  gap: 1em;
}
.logo img {
    width: 50px;
    border-radius: 30px;
    background-color: #FFFFFF;
  }
  
.menu {
    list-style: none;
    display: flex;
    gap: 2em;
  }
  
.menu a {
    text-decoration: none;
    color: #c5c6c7;
    font-weight: bold;
  }
.cta .btn {
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em 1em;
    background-color:transparent ;
    color: #66fcf1;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid #66fcf1;
   
  }
 
  /* hero section styling */
  .hero {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px ;
    }
    
.hero-text h1 {
    font-size: 3.0em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    color: #66fcf1;
  }
  
.hero-image img {
  width: 200px; 
  height: 200px;
  border-radius: 50%;
  object-fit:cover;
  margin-bottom: 20px;
  }
 
.downcv{
  display: inline-flex; /* To align icon and text */
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #66fcf1;
  font-weight: bold;
  padding: 20px;
  border-radius: 30px;
  background-color:transparent;
  border: 2px solid #66fcf1;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 20px;
  }

  .downcv:hover,.downcv i:hover {
    background-color: #66fcf1;
    color: #0b0c10; 
  }
  .downcv i {
    font-size: 1.2em; /* Size of the icon */
    color: #66fcf1; /* Icon color */
  }
  /* center all the headings */
.heading{
  text-align: center;

} 
/* about section styling */

.about-section{
  /* background-color: #1f2833; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 100vh;
  width: 100%;
  /* padding: 100px; */

}
.about-text .heading{
  color: #45a29e;
  text-align: start;

}

.about-image {
  flex: 1;
  height: 540px;
  width: 200px;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
  
}

.about-image img {
 /* padding: 100px; */
 padding-left: 135px;
 border-radius: 30px;
  
 
}

.about-text {
 flex: 1;
 display: flex;
 line-height: 1.2;
 flex-direction: column;
 text-align: justify;
 color: #c5c6c7; 
 
}
.about-text p{
  padding-right: 120px;
}
.progress-bar {
  background-color: #e0e0e0;
  border-radius: 5px;
  width: 80%;
  height: 10px;
  position: relative;
  overflow: hidden;
  /* align-self: flex-start; */
}
.progress {
  background-color: #45a29e;
  height: 100%;
  border-radius: 5px;
}
.about-text span {
  font-size: 0.8em;
  align-self: flex-start;
}
.contact-btn .btn{
  padding: 0.5em 1em;
  background-color:transparent ;
  color: #66fcf1;
  text-decoration: none;
  border-radius: 20px;
  border: 2px solid #66fcf1;
  align-self: flex-start;
}

/*Projects section styling */
.experience{
  /* background-color: #FFFFFF; */
  color: #c5c6c7;
  padding-bottom: 60px;
  /* text-align: center; */
}
.experience .heading{
  color:#66fcf1 ;
  padding-top: 50px;
}
.experience p{
  font-size: 1.1em;
  
  margin-bottom: 40px;
  
  text-align: center;
  align-self: center;
  }
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.skill-card {
  background-color: #1f2833;
  border-radius: 10px;
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.skill-card .image{
  height: 50;
}
.skill-card .image img{
  
  object-fit: cover;
  border-radius: 20px;
}
.skill-card h3 {
  margin: 0;
  font-size: 1.3em;
  color: #45a29e;

}

.skill-card p {
  font-size: 0.9em;
  color: #c5c6c7;
  margin: 10px 0 20px;
}
.skill-card a{
  text-decoration: none;
  color: #66fcf1;
  /* padding-top: 20px; */
}




/* talk to me styling */
.contact-section {
  padding: 20px  150px;
}
.contact-section .heading{
  color: #66fcf1;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
}

.talk-to-me, .write-project {
  flex: 1;
  min-width: 400px;
  max-width: 45%;
 }

.talk-to-me h2, .write-project h2 {
  font-size: 1.8em;
  color: #45a29e;
  /* margin-bottom: 20px; */
}

.contact-card {
  background-color: #1f2833;
  border-radius: 10px;
  height: 100px;
  width: 350px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.contact-card .icon {
  font-size: 2.0em;
  color: #45a29e;
 
}

.contact-info h3 {
  margin: 0;
  font-size: 1.0em;
}

.contact-info p {
  margin: 5px 0;
  color: #bbb;
}

.contact-info a {
  text-decoration: none;
  color: #66fcf1;
  font-weight: bold;
  transition: color 0.3s;
}

.contact-info a:hover {
  color: #00cc6e;
}
/* write a project styling */

.write-project form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: flex-start;
}
.form-group{
  width: 100%;
}
.form-group label {
  font-size: 1em;
  margin-bottom: 5px;
  display: block;
}

.form-group input, .form-group textarea {
  width: 100%;
  max-width: 450px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #1f2833;
  color: #fff;
  font-size: 1.0em;
}
textarea{
  height: 135px;
 
}

.form-group input::placeholder, .form-group textarea::placeholder {
  color: #bbb;
}

.submit-btn {
  background-color: #66fcf1;
  color: #0a0a23;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  align-self: flex-start;
}


.divider {
  width: 90%;
  height: 2px;
  background-color: #45a29e; /* Adjust color as needed */
  margin: 20px auto;
  position: relative;
}
/* footer styling*/
footer {
  /* background-color: #eaf6ff;  */
  color: #66fcf1; /* Darker text color */
  padding: 20px 0;
  text-align: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer-container p {
  margin: 10px 0;
  font-size: 14px;
  align-items: center;

}

.footer-links {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-links a {
  text-decoration: none;
  color: #66fcf1; 
  font-size: 14px;
  padding: 20px;
}

.footer-links a:hover {
  text-decoration: underline;
  color: #00cc6e;
}


.footer-social a {
  margin: 0 10px;
  font-size: 18px;
  color: #66fcf1; 
}

.footer-social a:hover {
  color: #0073e6; /* Blue icon color on hover */
}

/* responsive design */
